
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
#title {
    position: absolute;
    top: 70px;
    left: 241px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 200px;
    height: 300px;
    border-radius: 25px;
}
#img-container {
    border: 5px solid black;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    margin-right: 20px;
}
#box1 {
    border-radius: 5px;
    margin-right: 500px;
    display: flex;
    margin-bottom: 10px;
}
#box2 {
    border-radius: 5px;
    position: absolute;
    top: 8px;
    right: 16px;
}
#box3 {
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    float: left;
    margin-top: 30px;
}
.section2 {
    margin-right: 400px;
    margin-top: 100px;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
}
.section3 {
    position: absolute;
    right: 100px;
    top: 50%;
}
@media only screen and (min-width: 1000px) {
    body {
        background-color: lightblue;
      }
    }

@media only screen and (max-width: 1000px) {
    body {
      background-color: pink;
    }
  }
